@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-image: radial-gradient(circle, #252020, #1d1a1a, #161414, #0d0b0c, #000000);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

main img {
    margin-top: 7.0rem;
    width: 25.0rem;
}

main section {
    margin-top: 8.0rem;
    display: flex;
    flex-direction: column;
}

main section p {
    text-align: center;
    font-size: 2.0rem;
}

main section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    gap: 1.5rem;
}

main section div .input-number {
    width: 20.0rem;
    height: 3.5rem;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 0 0 0 15px;
    font-size: 1.6rem;
    font-weight: 600;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
}

main section .raffle-button {
    margin-top: 5.0rem;
    width: 20.0rem;
    height: 3.5rem;
    background-color: #AEC346;
    box-shadow: 0 10px 40px rgba(174, 195, 70, 0.35);
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

main section .raffle-button:active {
    background-color: #aec346af;
}